doctype html
html
  head
    meta(charset='utf-8')
    |    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |    
    link(href='/html/NavigationCSS.css', rel='stylesheet', type='text/css')
    |    
    script(src='/javascript/jquery/dist/jquery.min.js')
    |    
    script(src="/javascript/ClientRestaurant.js")
    |    
    script(src="/javascript/clientAjouterRestaurant.js")
    |    
    title Ajouter un Restaurant
  body
    #cssmenu
      ul
        li.active
          a(href='/')
            span Accueil
        |    
        li.active
          a(href='/admin/ajouterRestaurant')
            span Ajouter Restaurant
        li.active
          a(href='/admin/gestionRestaurant')
            span Gestion Restaurant
        |    
        li.active
          a(href='/admin/ajouterRestaurateur')
            span Ajout Restaurateur    
        li.active
          a(href='/admin/gestionRestaurateur')
            span Gestion Restaurateur
        |    
        li.last
          a(href='/gestionCompte')
            span Gestion du Compte

        |        
    #ajouterResto
      h2
        span.fontawesome-unlock
        | Ajouter un restaurant
      | &#x9;&#x9;
      fieldset
          p
          label(for='info') Nom
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#nomInput(type='info', name='nom', value='')

          p
          label(for='info') Adresse
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#adresseInput(type='info', name='adresse', value='')
  
          p
          label(for='info') Num&eacute;ro de t&eacute;l&eacute;phone
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#numeroTelephoneInput(type='info', name='numeroTelephone', value='')
   
          p
            button#btnAjouterInfoResto Passer à la sélection d'un restaurateur

    h2 Liste de restaurateurs
    | &#x9;&#x9;
    #restaurateurList
            table
                thead
                    th Nom
                    th ID
                tbody
        //
    | &#x9;&#x9;
    #ajouterRestaurateur
      fieldset
       h2
        span.fontawesome-unlock
        | Veuillez assigner un restaurateur avec son ID
        | &#x9;&#x9;     
        p
            input#restaurateurInput(type='info', name='restaurateurChoisi', value='')
   
          p
            button#btnConfirmerAjout Finaliser ajout

          // FAIRE AFFICHER MESSAGE DE CONFIRMATION
    // end ajout resto
 
