doctype html
html
  head
    meta(charset='utf-8')
    |    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |    
    link(href='/html/NavigationCSS.css', rel='stylesheet', type='text/css')
    |    
    script(src='/javascript/jquery/dist/jquery.min.js')
    |    
    script(src="/javascript/ClientCommande.js")

    script(src="/javascript/clientStatutCommande.js")
    |    
    title Changer statut de commandes
  body
    #cssmenu
      ul
        li.active
          a(href='/')
            span Accueil
        li.active
          a(href='/restaurateur/ajouterMenu')
            span Ajouter un menu    
        li.active
          a(href='/restaurateur/changerStatut')
            span Changer statut des commandes
        |        
        li.last
          a(href='/gestionCompte')
            span Gestion du Compte
    h2 Liste des commandes
    | &#x9;&#x9;
    #commandeList
            table
                thead
                    th ID
                    th Restaurant
                    th Client
                    th Plats
                    th Statut
                tbody
        //
          //
 
