doctype html
html
  head
    meta(charset='utf-8')
    |    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |    
    link(href='/html/NavigationCSS.css', rel='stylesheet', type='text/css')
    |    
    script(src='/javascript/jquery/dist/jquery.min.js')
    |    
    script(src="/javascript/ClientRestaurateur.js")
    |    
    script(src="/javascript/clientGestionRestaurateur.js")
    |    
    title Ajouter un Restaurant
  body
    #cssmenu
      ul
        li.active
          a(href='/')
            span Accueil
        |    
        li.active
          a(href='/admin/ajouterRestaurant')
            span Ajouter Restaurant
        li.active
          a(href='/admin/gestionRestaurant')
            span Gestion Restaurant
        |    
        li.active
          a(href='/admin/ajouterRestaurateur')
            span Ajout Restaurateur
        li.active
          a(href='/admin/gestionRestaurateur')
            span Gestion Restaurateur
        |    
        li.last
          a(href='/gestionCompte')
            span Gestion du Compte
    h2 Liste de restaurateurs
    | &#x9;&#x9;
    #restaurateursList
            table
                thead
                    th Nom
                    th Courriel
                    th Modifier
                    th Supprimer
                tbody
        //
     | &#x9;&#x9;
    #restaurateurModification
      h2 Modifier un restaurateur
      fieldset
          p
          label(for='info') Adresse
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#adresseInput(type='info', name='adresse', value='')
  
          p
          label(for='info') Num&eacute;ro de t&eacute;l&eacute;phone
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#numeroTelephoneInput(type='info', name='numeroTelephone', value='')

          p
          label(for='info') Courriel
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#courrielInput(type='info', name='courriel', value='')
   
          p
          label(for='info') Mot de passe
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#passwordInput(type='info', name='password', value='')

          p
            button#btnModInfoResto Modifier restaurateur
          // FAIRE AFFICHER MESSAGE DE CONFIRMATION
 
