doctype html
html
  head
    meta(charset='utf-8')
    |    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |    
    link(href='/html/NavigationCSS.css', rel='stylesheet', type='text/css')
    |    
    script(src='/javascript/jquery/dist/jquery.min.js')
    |    
    script(src="/javascript/clientPaiement.js")
    |    
    title Payer la commande
  body
              button#btnPayerLivreur Payer le livreur sur place
              button#btnPaypal LE BOUTTON PAYPAL VA ICI
 
