doctype html
html(lang='')
  head
    meta(charset='utf-8')
    |    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |    
    link(rel='stylesheet', href='styles.css')
    |    
    link(href='NavigationCSS.css', rel='stylesheet', type='text/css')
    |    
    script(src='http://code.jquery.com/jquery-latest.min.js', type='text/javascript')
    |    
    script(src='script.js')
    |    
    title CSS MenuMaker
  body
    #cssmenu
      ul
        li.last
          a(href='/')
            span Retour Navigation
    #login
      h2
        span.fontawesome-unlock
        | Confirmation!
      | &#x9;&#x9;
      form(action='', method='POST')
        fieldset
          p
            label(for='info') #{message}
          |                 
          |                 
          p
            label(for='info') Nom Complet
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#email(readonly='', type='info', name='nom', value=nom)
          p
            label(for='info') Adresse Courriel
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#courriel(readonly='', type='info', name='courriel', value=courriel)
          |  
          | &#x9;&#x9;&#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;
          p
            label(for='info') Adresse compl&egrave;te
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#adresse(readonly='', type='info', name='adresse', value=adresse)
          |  
          | &#x9;&#x9;&#x9;&#x9;
          |                 
          p
            label(for='info') Date de naissance
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#date(readonly='', type='info', name='date', value=date)
          |  
          | &#x9;&#x9;&#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;
          p
            label(for='info') Num&eacute;ro de t&eacute;l&eacute;phone
          | &#x9;&#x9;&#x9;&#x9;
          p
            input#numeroTelephone(readonly='', type='info', name='telephone', value=telephone)
          // FAIRE AFFICHER MESSAGE DE CONFIRMATION
    // end login
  html
