body {
	background-color: #C0C0C0;
	color: #000000;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	background-image: url(../images/BG2.png);
	background-repeat: no-repeat;
}
#Menu {
	margin: 50px auto;
	width: 1000px auto;
	border:3px solid black;
	background-color:#FFF
	
	
}
.table-editable {
  position: relative;
}
.table-editable .glyphicon {
  font-size: 20px;
}

.table-remove {
  color: #700;
  cursor: pointer;
  }
.table-remove:hover {
  color: #f00;
}
.table-etat {
  color: #700;
  cursor: pointer;
  }
.table-etat:hover {
  color: #f00;
}

.table-confirm {
	color: #00229F;
	cursor: pointer;
  }
.table-confirm:hover {
	color: #3C3;
}



.table-up, .table-down {
  color: #007;
  cursor: pointer;
}
.table-up:hover, .table-down:hover {
  color: #00f;
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
}
.table-add:hover {
  color: #0b0;
}
